@import "tailwindcss";

@theme {
  --font-sans: Tahoma, Verdana, Segoe UI, sans-serif;
  --font-mono: Tahoma, Verdana, Segoe UI, sans-serif;
}

:root {
  font-family: Tahoma, Verdana, Segoe UI, sans-serif;
}

body, button, input, select, textarea, table, th, td {
  font-family: Tahoma, Verdana, Segoe UI, sans-serif !important;
}

* {
  font-family: Tahoma, Verdana, Segoe UI, sans-serif;
}
